section {
  background: linear-gradient(#fffbf3, #ffd7e9);
  border: 2px solid #212121;
  border-radius: 3px;
  width: 400px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  font-family: "Dancing Script", cursive;
}
h1 {
  color: #eb89b5;
  text-align: center;
}
input {
  border: 1px solid #212121;
  width: 220px;
  padding: 8px 8px;
  border-radius: 5px;
}
form {
  text-align: center;
  display: block;
  border-radius: 10px;
  margin: 10px;
}
svg {
  display: block;
  margin: 0 auto;
}
h3 {
  color: #757575;
  text-align: center;
  padding: 0;
  margin: -7px 0;
}
h2 {
  color: #212121;
  text-align: center;
  padding: 0;
  margin: -7px 0;
}

span {
  text-align: center;
  margin-right: 20px;
}

i {
  color: #eb89b5;
  font-size: 40px;
}

.row {
  font-size: 20px;
  padding-left: 30px;
}

input[type="submit" i] {
  text-align: center;
  color: #fff8d2;
  background-color: #eb89b5;
  border: 2px solid #eb89b5;
  border-radius: 5px;
  width: 120px;
  margin-top: -1px;
}
