section {
  background: linear-gradient(#fffbf3, #ffd7e9);
  border: 2px solid #212121;
  border-radius: 3px;
  width: 400px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  font-family: "Dancing Script", cursive;
}
h1 {
  color: #eb89b5;
  text-align: center;
}
input {
  border: 1px solid #212121;
  width: 240px;
  padding: 8px 8px;
  border-radius: 5px;
  text-align: left;
}
button {
  text-align: center;
  color: #fff8d2;
  background-color: #eb89b5;
  border: 2px solid #eb89b5;
  border-radius: 5px;
  width: 105px;
  margin-top: -2px;
  font-size: 12px;
}

svg {
  display: block;
  margin: 0 auto;
  margin-top: -35px;
  margin-bottom: -25px;
}
h3 {
  color: #757575;
  text-align: center;
  padding: 0;
}
h2 {
  color: #212121;
  text-align: center;
  padding: 0;
  margin: -7px 0;
}

i {
  color: #eb89b5;
  font-size: 40px;
}

.float-left {
  text-align: center;
  margin-right: 20px;
}
.row {
  font-size: 20px;
  padding-left: 35px;
}

input[type="submit" i] {
  text-align: center;
  color: #fff8d2;
  background-color: #eb89b5;
  border: 2px solid #eb89b5;
  border-radius: 5px;
  width: 105px;
  margin-top: -2px;
}
